
<footer class="container-fluid">
  <div class="footer">
    <span class="rating" style="float:left">
      This film not yet rated
    </span>
    <span class="copyright" style="float:right">
      Copyright 2018 Bartleby Entertainment
    </span>
  </div>
</footer>