{{!-- add navbar here --}}
  <div class="navbar-fixed">
    <nav class="nav-center" role="navigation">
      <div class="nav-wrapper container">
        <ul class="nav-links">
          <li><a href="/synopsis"><h5>Synopsis</h5></a></li>
          <li><a href="/gallery"><h5>Gallery</h5></a></li>
          <li><a href="/cast"><h5>Cast</h5></a></li>
          <li><a href="/comic"><h5>Comic</h5></a></li>
          <li><a href="/support"><h5>Support</h5></a></li>
        </ul>
      </div>
    </nav>
  </div>
