{{!-- add navbar here --}}
  <div class="navbar-fixed">
    <nav class="nav-center" role="navigation">
      <div class="nav-wrapper container">
        <ul>
          <li><a href="/synopsis">Synopsis</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/cast">Cast</a></li>
          <li><a href="/comic">Comic</a></li>
          <li><a href="/support">Support</a></li>
        </ul>
      </div>
    </nav>
  </div>
