  <div class="navbar-fixed">
    <nav class="nav-center" role="navigation">
      <div class="nav-wrapper container">
        <span>
          <ul class="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/synopsis"><h5>Synopsis</h5></a></li>
            <li><a href="/gallery"><h5>Gallery</h5></a></li>
            <li><a href="/cast"><h5>Cast</h5></a></li>
            <li><a href="/merch"><h5>Merch</h5></a></li>
            <li><a href="/support"><h5>Support</h5></a></li>
          </ul>
        </span>
        <span>
          <a href="/" class="brand-logo right"><img src="./assets/images/dollmaker-resized.png"></a>
        </span>
      </div>
    </nav>
  </div>
