<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        
        <title>Dollmaker</title>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

        {{!-- Link to style sheet --}}
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

    </head>

    <body>
        {{> navbar }}

        {{{ body }}}

        {{> footer }}
    </body>
    
</html>