<div class="cast-page">
    <div class="container">

        <div class="row">
            <img src="assets/images/castdoll.jpg">
        </div>

        <div class="row">
            Click to reveal actor bio
        </div>

        <div class="row">
            <div class="col s12 m4">
                <div class="card biocard">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator responsive-img" src="assets/images/april_vintage1.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator black-text"><strong>April March</strong></span>
                        <span class="card-title activator black-text"><i></i></span>
                        <p><a class="imdb" href="https://www.imdb.com/name/nm3319570/?ref_=fn_al_nm_2">April's IMDb page</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><strong>April March</strong><i class="material-icons right">close</i></span>
                        <p class="biotext left-align">
                            April's bio coming soon
                        </p>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card biocard">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator responsive-img" src="assets/images/olga_headshot.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator black-text"><strong>Olga N. Bogdanova</strong></span>
                        <span class="card-title activator black-text"><i>Dahlia</i></span>
                        <p><a class="imdb" href="https://www.imdb.com/name/nm5663500/?ref_=nv_sr_1">Olga's IMDb page</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><strong>Olga N. Bogdanova</strong><i class="material-icons right">close</i></span>
                        <p class="biotext left-align">
                            Olga N. Bogdanova is a Russian-born actress, dancer and model with a passion for ballet and car racing.<br><br>

                            She was born in Moscow, Russia shortly before the collapse of USSR, and witnessed country's challenges and struggles to transition into a new era. Olga's parents, Nicolay and Natalia, have realized very early on her love for the performing arts. At the age of 4 she joined the ballet studio and never stopped dancing ever since; over the course of her life, Olga continues to challenge herself with learning and perfecting new dance styles (modern, contemporary, jazz, Latin ballroom, Argentine tango, Russian and Irish folk dancing, and more).<br><br>

                            While in the middle and high school Olga has taken piano and singing lessons and also attended school of arts where she learnt drawing, composition, sculpture and arts history. During the same time Olga was performing with awards-winning Troitsk Dance Company of Galina Goleneva and went on a tour to Japan with them. While there she was chosen to represent the Company during the interview with one of the local radio stations and was extremely excited by this experience.<br><br>

                            Olga scored her first ever role in theatre play, while still in kindergarten. Being in love with the stage, she didn't miss a single theatre production that was directed in her school, and even was cast for several small roles in short students films. Being full-time college student didn't stop her from continuing perusing a performing career; in 1999 Olga has joined Primadonna Dance Company and soon became their Principal Dancer.<br><br>

                            In 2004 Olga came to the United States for the first time. Her first theatre role in America was Time Dervish in rock-opera "Rock-On, Genghis Khan!" by Carli and Tim Castellani. In 2007 Olga moved back to Moscow only to come back to United States in 2009. Same year she joined Libertina Modern Dance Company. As a Principal Dancer for the Company, she has performed on multiple stages through United States and even in Paris, France.<br><br>

                            In 2013 Olga decided to concentrate more on her acting career. She has started taking classes from acclaimed acting coaches, working with dialect/accent modification trainer, auditioning for multiple projects and taking on every challenging role that would come her way. Just over the course of four months she was cast for several supporting and lead roles in six different short and feature-length films, as well as for female lead role in a commercial.

                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>