<div class="cast-page">
    <div class="container">

        <div class="row">
            <img src="assets/images/crewdoll.jpg">
        </div>

        <div class="row">
            Click to reveal crew member bio
        </div>

        {{!-- <div class="row">
            <div class="col s12 m4">
                <div class="card biocard">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator responsive-img" src="#">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator black-text"><strong>Actor name</strong></span>
                        <span class="card-title activator black-text"><i>Character name</i></span>
                        <p><a class="imdb" href="#">Actor's IMDB page</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><strong>Actor name</strong><i class="material-icons right">close</i></span>
                        <p class="biotext left-align">
                            Actor bio
                        </p>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card biocard">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator responsive-img" src="#">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator black-text"><strong>Actor name</strong></span>
                        <span class="card-title activator black-text"><i>Character name</i></span>
                        <p><a class="imdb" href="#">Actor's IMDB page</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><strong>Actor name</strong><i class="material-icons right">close</i></span>
                        <p class="biotext left-align">
                            Actor bio
                        </p>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card biocard">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator responsive-img" src="#">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator black-text"><strong>Actor name</strong></span>
                        <span class="card-title activator black-text"><i>Character name</i></span>
                        <p><a class="imdb" href="#">Actor's IMDB page</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><strong>Actor name</strong><i class="material-icons right">close</i></span>
                        <p class="biotext left-align">
                            Actor bio
                        </p>
                    </div>
                </div>
            </div>            

        </div> --}}


    </div>
</div>