        <div class="video-container">
            <video autoplay muted loop id="myVideo" class="responsive-video">
                <source src="/assets/videos/playwithme.mp4" type="video/mp4">
            </video>
        </div>
