
<div class="container">
    <div class="support-page">
    <div class="row">
        <p class="supportLink">
        <a href="https://www.patreon.com/MissBartleby">Support us on Patreon!!</a>
        </p>

        <p>
        <a href="https://www.facebook.com/bartlebyproductions/" color="red">Follow Bartleby Productions on Facebook</a>
        </p>
    </div>
    </div>
</div>