<div class="comingSoon-page">
    
    <div class="container">
        <div class="row">

            <div class="col s5 menagerieText">
                
                <div>
                    <img class="responsive-img" src="./assets/images/img29.jpg">
                </div>

                <p>             
                    <h5 class="synopsisTitles">The Fantastic Menagerie</h5>
                </p>

                <div class="s4">
                
                    <h5 class="menagerieNames">The Fairy Doll-</h5> The elder of the sisters whose violent assault Dahlia prevented. She is made to sport wings and fairy costumes. She is kept in a suspended birdcage.
                        
                    <h5 class="menagerieNames">The Ballerina-</h5> The sixteen year old sister is made to dance en pointe all day, every day. She is put in a curio cabinet for display if she stops dancing.
                        
                    <h5 class="menagerieNames">The Mermaid-</h5> Originally one of the animal party, Tiger Girl continuously tries to attack Dahlia, so she is stripped of her Tigress identity, kept in a tank with only her head above water, and weighed down with an anchor.
                        
                    <h5 class="menagerieNames">Rapey Barbie-</h5> The ringleader of the attempted sexual assault on the fairy and ballerina, Dahlia decides he needs to actually experience being helpless, so she treats him as a female who is completely dominated and humiliated in order to have true remorse.
                        
                    <h5 class="menagerieNames">The Wolf-</h5> Captured at the party, Dahlia can’t bring herself to make him take off the masked identity he clings to. They form a bond, and she discovers that he is a mask maker and prosthetic makeup artist.. He promises her restored beauty, freedom, and true love.

                </div>
            </div>
        
            
            <div class="col s5 offset-s2 plotSynopsisText">
                <p>
                    <h5 class="synopsisTitles">Story</h5>   
                </p>
                {{!-- Plot synopsis text --}}
                <p>
                    Dahlia hides.She plays with beautiful dolls, When people threaten her sanctuary, they can’t be allowed to leave. She needs people, so she keeps people.<br><br>
            
                    After having half of her face destroyed in a fire, eight year old Dahlia is confined to a basement chamber to grow up with only the family’s servant to attend to her. After several years pass with the child in seclusion, Dahlia’s twin sister discovers the family’s monstrous secret and a panic fueled, deadly,accident occurs .Dahlia is found in a bloody tableau which belies her innocence. Understanding the implications of Dahlia being discovered at the crime scene, the servant Ashiram lays in wait for Dahlia’s father, kills him, empties the safe of valuables, and spirits young Dahlia off to continue her life in hiding in the family's abandoned doll factory.<br><br>
            
                    Despite their attempts to live an isolated,hidden existence, their party of two expands when a raucous group of hooligans attempt to brutalize two sisters in the factory they called home. Faced with the prospect of being found, Dahlia and Ashiram make a decision to keep the girls as captive friends and playmates for the lonesome and emotionally stunted Dahlia. She transforms her new ‘friends’ into replicas of her favorite dolls from childhood and insists that they play with her. By the time a group of wild party animals break into the factory to hold their wolf wrestling/dance contest, Dahlia was already tiring of her playmates. The second group of captives undergo the same treatment. Held together in a confined space, Dahlia’s menagerie of characters form complex relationships. Alliances and escape plans are made.Limits and bonds are put to the test, and the dolls must discover how long they can truly hold onto their humanity.<br><br>
                    
                    Dahlia’s one weakness is Wolf, whose mask making prowess offered her the possibility of freedom from her isolated prison.  and whose friendship br her joy. Ashiram’s jealousy and rage grows along with Wolf and Dahlia’s love.It is Dahlia’s mission to try to make them all get along, but neither of them  play well with others. 
                </p>
            </div>
    
        </div>    
    </div>
    

</div>