#myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: auto; 
    min-height: auto;
    z-index: -1;
}

.nav-center {
    background-color: red;
}

body {
    background-color: black;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    background-color: red;
}

.comingSoon-page {
    z-index: 0;
    color: white;
    text-align: center;
    font-size: 30px;
}

.slider-item {
    width: 50%;
    height: 100%;
    z-index: 0;
}