#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: auto; 
    min-height: auto;
    z-index: -1;
}

.nav-center {
    background-color: red;
    height: 68px;
}

body {
    background-color: black;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    background-color: red;
}

.comingSoon-page {
    z-index: 0;
    color: white;
    text-align: center;
    font-size: 30px;
}

.plotSynopsisText {
    color: white;
    text-align: left;
    font-size: 18px;
}

.synopsisTitles {
    color: red;
    font-size: 24px;
}

.menagerieText {
    color: white;
    text-align: left;
    font-size: 18px;
}

.menagerieNames {
    color: red;
    text-align: left;
    font-size: 20px;
}

.carousel {
    height: 500px !important;
    margin-bottom: 200px;
    overflow: visible !important;
}
.carousel-item {
    width: 400px !important;
    z-index: 0;
    margin-top: -100px;
}

.modal {
    position: fixed;
}

.modal-footer {
}

.modal-trigger {
    background-color: black;
    height: 200px;
    font-size: 16px;
    color: red;  
}

.card-panel {
    width: 150px;
    height: 250px;
    margin-top: 250px;
    position: relative;
    float: left;
    background: red !important;
}



